body {
  font-family: var(--primary-font);
  font-size: 1.4rem;
  line-height: 150%;

  @include respond(phone) {
    font-size: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  line-height: 100%;
}
